<% provide(:title, 'All events') %>
<h1 class="text-center">All <%= pluralize(@events.count, 'event') %></h1>

<% if @events.any? %>
  <ol class="events row">
    <%= render @events %>
  </ol>
  <%= will_paginate @events, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
<% end %>