<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <%= link_to 'Private Events', '#', class: 'navbar-brand' %>
  <ul class="navbar-links ml-auto">
    <li class="nav-item"><%= link_to 'Sign up', signup_path, class: 'nav-link' %></li>
  </ul>
</nav>